.App {
  font-family: 'League Spartan', sans-serif;
  color: #665C5F;
}

.App-logo {
  max-width: 55px;
}

.App-header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.App .contact-links {
  color: #8D8A8B;
}

.App .contact-links:hover {
  color: #665C5F;
}

.App h1 {
  font-size: 30px;
  margin: 12px 0 0 0;
  background: -webkit-linear-gradient(right,#665C5F, #8D8A8B);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}