.App {
  font-family: 'League Spartan', sans-serif;
}

.App-logo {
  max-width: 55px;
  position: relative;
  top: -4px;
}

.App-header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.App h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(right,#38598b, #ea80fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}