.Dictionary h2 {
    margin-top: 30px;
    text-align: center;
}

.Dictionary .search-bar {
    padding: 10px 20px;
    display: block;
    margin: 30px auto 0;
    width: 90%;
    font-size: 18px;
    color: #665C5F;
    border: 1px solid #8D8A8B;
    border-radius: 10px;
}

.Dictionary .hint {
    display: block;
    width: 90%;
    margin: 5px auto 30px;
    padding-left: 2px;
    opacity: .7;
}

.Dictionary h3 {
    margin: 30px 0 30px 30px;
}

.Example {
    opacity: .7;
}

@media (max-width: 840px) {
    section {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 20px;
        margin: 0 5px;
    }
    h3 {
        font-size: 20px;
    }
}